/* A lot of this is thanks to: https://www.w3schools.com/css specially the hover functionality */
/*The dropdown menu under the pie charts.*/
.dropdown-menu{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-content: center;

}


.tab-styles{
    height: 44px;
    align-items: center;
}
.tab-style{
    border-bottom: 1px solid #d6d6d6;
    padding: 6px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #F2F2F2;
    box-shadow: 4px 4px 4px 4px lightgrey;
    height: 40px;
    font-size: large;
}
.tab-selected-style{
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    background-color: #119DFF;
    color: white;
    padding: 6px;
    border-radius: 15px;
    height: 40px;
    font-weight: bold;
    font-size: large;
}


/*aligning*/

.container{
    border: 3px solid #fff;
    padding: 20px;
}

#description-text{
    text-align: center;
    font-weight: bold;
}


h3{
    text-align: center;
    color: black;
    border: solid dodgerblue;
    height: auto;
}


P{
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid dodgerblue;

}

/* The input header above the Input field. */
.Input-header-div{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;

}


/* The input box itself. */
.first-input{
    padding: 15px 32px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    height: auto;
}

/* The header title attributes. */
.header-title{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/* The button for the input. */
.button-input{
    color: dodgerblue;
    text-align: center;
    padding: 15px 32px;
    font-weight: bold;
    height: auto;

}



/* The hover functionality for the submit button. */
.button-input:hover{
    background-color: #11557C;
    height: auto;

}

.example_dropdown{
    text-align: center;
    position: right;
}